<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #08105b; color: #ffff; font-size: 21px; padding-top: 20px;">
    <div class="container" style="text-align: center; justify-content: center; width: 470px; height: 470px;">
        <div class="question-wrapper" style="border: 5px solid white;">
            <div *ngIf="quiz!=null" >
                <div class="question-number">
                    QUESTION  {{currentIndex + 1}} OF {{quiz.question_set.length}}
                </div>
                <div class="timer">
                    <p [innerHTML]="timeplaceholder"></p>
                </div>
                <app-question [selectedAnswer]="answers[currentIndex]" [question]="quiz['question_set'][currentIndex]" (selectAnswer)="selectAnswer($event)" style="display: flex;"></app-question>
               </div>
            </div>
        </div>
        
        <div class="buttons" *ngIf="quiz!=null" style="margin-top: 24px; margin-right: 22px;">
            <button (click)="previous()" style="margin-right: 23px; padding: 8px 20px;">
                Previous
            </button>
            <button  (click)="next()" [innerHtml]="currentIndex == quiz.question_set.length - 1 ? 'Submit' : 'Next'" style="padding: 8px 20px;">
            </button>
        </div>
    </div>
           
           
</body>
</html>