body{
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    background-image: url('../../../../assets/images/mak.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #252c65;
    background-blend-mode: darken;
}