.log:hover{
    background-color: #fd1df8;
    opacity: 0.4;
}
.all{
    background-image: url('../../../assets/images/mak.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(233, 46%, 27%);
    background-blend-mode: darken; 
    height: 100vh;
    padding-top: 10%;
}
form.input{
    color: white;
}