.log:hover{
    background-color: #fd1df8;
    opacity: 0.4;
}
.all{
    background-image: url('../../../assets/images/qust.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #252c65;
    background-blend-mode: hue;  
    height: 100vh;
    padding-top: 10%;
}
form.input{
    color: white;
}