*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.h3{
    text-align: center;
    color:#030c51 ;
    text-decoration: underline;
    padding-top: 30px;
}
.card-title{
    color: #030c51;
}
.card-text{
    font-style: italic;
}
.card-img-top{
    height: 200px;
    width: 250px;
    padding-top: 10px;
}
.btn{
    background-color: #030c51;
    font-style: italic;
    margin-top: 22px;
}
 
