<div class="container-fluid mt-3">


    <div class="row m-4">

        <div class="col-md-3 ">
            <img src="https://images.theconversation.com/files/449089/original/file-20220301-25-ckck4y.jpeg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop"
                style="width:100%">
                <!-- User name -->
            <h3>Quiz Taker</h3> 
              <!-- Bio -->
            <p>Code,code and code</p>
            <hr>
            <!-- Social Media sites -->
            <div class="icons" style="font-size:xx-large">
                <a href=""><i class="fa-brands fa-github" style="color:black"></i></a>&nbsp;&nbsp;
                <a href=""><i class="fa-brands fa-linkedin" style="color:blueviolet"></i></a>&nbsp;&nbsp;
                <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>
            <hr>





        </div>

        <div class="col-md-8">
            <div align="center">
                <h3>My Quizzes</h3>
            </div>


            <hr>
            <div class="row">

                <div class="col-md-4" align="center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://wallpapercave.com/wp/wp5722053.png"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Angular Quiz</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">View Quiz</a>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>



</div>